* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ingreso {
    width: 400px;
    background: rgb(36, 48, 60, 0.9);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 7px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#boton { 
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.7);
}
#input {
    width: 200px;
    background: rgb(40, 77, 140, 0.9);
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    font-weight: lighter;
    color:white;
    box-shadow: 7px 13px 37px #000;
}
#input::placeholder {
    color: white;
}
